/*******************************************/
/*              BASE STYLES                */
/*******************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Markazi Text', sans-serif;
  text-align: center;

  position: relative;

  padding: 0 0 100px 0;

  color: #2a0000;
}

/*******************************************/
/*               TEXT STYLES               */
/*******************************************/

h1 {
  margin: 0;
}

h2 {
  font-size: 2.5rem;
}

header a {
  text-decoration: none;
  color: white;
}

.big-text {
  align-self: center;
  justify-self: center;

  padding: 0 25px;

  width: 100vw;
}

.big-text h1,
.top-three-container h2,
.results-container h2 {
  background-color: #2a0000;
  color: white;

  margin: 15px 0;
  padding: 30px;

  border: 2px solid #2a0000;
}

.big-text h1 {
  font-size: 3.25rem;

  border-top-left-radius: 68%;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 87%;
  border-bottom-right-radius: 125px;
}

.big-text a {
  text-decoration: none;

  color: inherit;
}

.big-text a:hover {
  text-decoration: underline;
}

.top-three-container h2,
.results-container h2 {
  font-size: 2.5rem;

  padding: 15px;

  border-top-left-radius: 150px;
  border-top-right-radius: 75%;
  border-bottom-left-radius: 61%;
  border-bottom-right-radius: 120px;
}

.data span,
.data a {
  font-size: 1.5em;
}

.data span {
  word-break: normal;
}

.data a {
  word-break: break-all;
}

.in-state {
  color: #356e9c;
}

.out-of-state {
  color: #c1773b;
}

h3, h4 {
  font-size: 1.5rem;

  margin: 5px 0;
}

span, a {
  font-size: 1.25rem;
}

a.web-link {
  color: #002efb;
}

/*******************************************/
/*             INPUT | BUTTONS             */
/*******************************************/

input,
button,
a.more {
  border-radius: 30px;

  margin: 30px 0;
}

input {
  padding: 5px 15px;
  margin: 0 auto;

  width: 300px;
}

button {
  padding: 5px 10px;

  width: 75px;
}

a.more {
  padding: 5px 25px;
}

button,
a.more {
  cursor: pointer;
  text-decoration: none;

  background-color: #2a0000;
  color: white;
  border: 1px solid rgb(100, 100, 100);
  transition: background-color 200ms
}

button:hover,
a.more:hover {
  background-color: #4d1010;
  border: 1px solid #4d1010;
  text-decoration: none;
}

button:active,
a.more:active {
  background-color: rgb(220, 220, 220)
}

.clear.btn {
  margin: 10px auto;

  width: 60%;
}


/*******************************************/
/*               MAIN CONTENT              */
/*******************************************/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200px;
  padding: 0 20px;

  background-color: #2a0000;
  color: white;

  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;

  min-height: calc(100vh - 100px);
  max-height: max-content;

  width: 100%;
}

.title-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-content: flex-start;

  margin-top: 150px;

  width: 100%;
}

.top-three-container,
.results-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;

  margin: 10px auto 50px auto;

  width: 100%;
}

.results {
  list-style: none;

  color: black;
  padding-left: 0;

  width: 100%;
}

.results li {
  cursor: pointer;

  margin: 10px;
  padding: 10px 15px;

  background-color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 3px 2px rgb(81, 81, 81);

  transition: box-shadow 200ms;
}

.results li:hover {
  border: 1px solid #3f0000;

  box-shadow: 3px 3px 4px 3px rgb(81, 81, 81);
}

.results li:active {
  box-shadow: 2px 2px 3px 2px rgb(81, 81, 81);
}

.school-card {
  padding: 15px;
  margin: 10px auto 0 auto;

  width: 90%;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 0;

  border-bottom: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;

  background-color: #2a0000;
  color: white;
}

@media screen and (min-width: 750px) {
  .results {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  body {
    padding: 100px 0;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 100px;
    padding: 0 20px;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: start;

    margin-top: -100px;

    min-height: calc(100vh - 100px);
    max-height: max-content;
  }

  .title-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-content: center;

    margin-top: 0;

    min-height: calc(100vh - 250px);
    max-height: max-content;
  }

  .img {
    background-image: url(../background.png);
    background-color: #01182ce7;
    background-blend-mode:multiply;
    background-size: contain;

    min-height: calc(100vh - 90px);
    width: 100%;

    border-top-left-radius: 0;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 88%;
  }

  .img.expanded {
    height: calc(350vh - 150px);
    border-top-right-radius: 100%;
  }

  .big-text {
    max-width: 80%;
  }

  .big-text h1 {
    border-top-right-radius: 62px;
    border-bottom-right-radius: 175px;
    border-top-left-radius: 100%;
  }

  .top-three-container,
  .results-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 80%;
  }

  .top-three-container {
    margin: 0 auto 50px auto;
  }

  .results-container {
    margin: 100px auto 0 auto;

    min-height: calc(100vh - 150px);
  }

  .results {
    width: 85%;
  }

  .results li {
    padding: 10px;
  }

  .school-card {
    margin: 0 auto;

    width: 80%;
  }

  .data {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    position: absolute;
  }
}


/*******************************************/
/*              TOGGLE STYLES              */
/*******************************************/


.hidden {
  display: none;
}